name: Deploy the bot
run-name: The bot is running the latest modification by ${{github.actor}}
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deployment:
    runs-on: self-hosted
    environment: production
    concurrency: production
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: deploy
        env:
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
          GUILD_ID: ${{ secrets.GUILD_ID }}
        run: python bot.py
